---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ChileGuajillo - Sitio Web Oficial">
	<main class="w-full flex flex-col gap-7 overflow-auto-y" >
		<section id="Principal" class="w-11/12 flex flex-col gap-2  p-2 rounded">
			<span class="font-medium text-zinc-300">Novedades</span>
			<div class="rounded max-w-4xl h-80 bg-[url(https://cdn.colombia.com/sdi/2024/02/16/godzilla-x-kong-the-new-empire-se-conocen-nuevos-detalles-de-la-trama-de-la-esperada-cinta-del-monsterverse-1224747.jpg)] bg-cover
			flex flex-col justify-end ">
				<div class="bg-gradient-to-t from-indigo-950 p-10 flex flex-col gap-3">
					<h1 class="text-white text-4xl font-bold">Godzilla x Kong: El nuevo imperio</h1>
					<span class="text-white">El gorila y el kaiju, juntos de nuevo en una batalla contra los peligros subterráneos de nuestro planeta.</span>
					<div class="flex gap-2">
						<button class="bg-zinc-200 font-medium p-2 flex gap-2 items-center">
							<span class="">Ver trailer</span>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
						</button>
						<!-- <a href="#" class="border-2 text-white font-medium p-2">Calificar pelicula</a> -->
					</div>
				</div>
			</div>
		</section>
		
	</main>
</Layout>